
@import url(https://fonts.googleapis.com/css?family=Passion+One);

* {
    font-family: 'Roboto Condensed', sans-serif;
}

/* Title */
.title {
    text-align: center;
    /*margin: 200px 0;*/
    font-size: 64px;
    font-family: 'Passion One';
    margin-bottom: 10px;
    color:black;

}

.general{
    text-align: center;
}

