
@import url(https://fonts.googleapis.com/css?family=Passion+One);

* {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    padding: 100px 100px 100px 100px;
    margin: 100px 100px 100px 100px;

}
/* Title */
.title {
    text-align: center;
    /*margin: 200px 0;*/
    font-size: 64px;
    font-family: 'Passion One';
    margin-bottom: 10px;
    color:black;

}

.general{
    text-align: center;
}

.two-buttons {
    margin: 0 auto;
    width:80%;
}

.two-buttons a {
    position:relative;
    display:block;
    text-decoration: none;
    margin-bottom: 20px;
}


/*Homepage*/


#pistol {
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}

/*Altering Jquery Mobile defaults */
.ui-page-theme-a a {
    color: white; !important
}

.ui-page-theme-a a:active {
    color: white; !important
}

.ui-page-theme-a a:hover {
    color: white; !important
}


.ui-page-theme-a a:visited {
    color: white; !important
}
.home-buttons {
    margin: 0 auto;
    margin-bottom: 20px;
    width:80%;

}
.home-buttons a {
    position:relative;
    display:block;
    text-decoration: none;
    margin-bottom: 30px;
}
/*Create Game*/
.input-form {
    width: 80px;
}


.create-game-form {
    margin: 0 auto;
    margin-bottom: 50px;
    width:80%;
}
#settings-icon {
    margin:0 auto;
    width:100%;
}

#settings-icon img{
        position:relative;
    display:block;
    width: 40px;
    margin: 0 auto;
    text-align: center;

}

/* Settings page */

#sliders {
    width: 80%;
    margin: 0 auto;
}